
div.filter_box {
  padding:10px;
}

div.filter_category a {
  cursor: pointer;
}

div.filter_category a.selected {
  font-weight: bold;
}

.highlight { background-color: yellow }

#solr_debug {
  width: 600px;
  height: 100px;
  margin: 10px;
  background-color: #eee;
  border: solid 1px #ccc;
  overflow: scroll;
}